*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
.logo{
    width: 75px;
    height: 75px;
    vertical-align: middle;
}
header{
    display: flexbox;
    background-color:whitesmoke;
    width: 100%;
    padding: 10px;
}
.header{
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    vertical-align: middle;
}
.webpagelink{
    justify-content: center;
    text-align: center;
}
.webpagelink a{
    margin: 0 15px;
}
.add_to_cart{
    padding-right: 0px;
    margin-right: 0px;
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin: 50px;
}
a{
    text-decoration: none;
    color: black;

}
.login{
    border: solid 1px black;
}

footer{
    text-align: center;
    padding: 10px;
}
section{
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 90vh;
    max-width: 1700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add your styles here */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

.flavor-card {
    display: inline-block;
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.flavor-card img {
    max-width: 100%;
    height: auto;
}

.add-to-cart-btn{
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all.3s;
}
.add-to-cart-btn:hover{
    opacity: 0.838;
}
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

#flavors{
    display: grid;
}
#flavors .rows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#flavors h2{
    margin-bottom: 20px;
    font-size: 40px;
}

.product-title{
    margin-bottom: 7px;
    font-size: 20px;
}
.product-description{
    margin-bottom: 15px;
}
.add-to-cart-btn{

}
