* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand','Arial';
}

body {
    font-family: 'Quicksand','Arial';
    background-color: #f9f9f9;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 35px;
    background-color: #F1EFE7;
}

.logo {
    width: 890px;
    height: auto;
}

.main-section-video{
    max-width: 1800px;
    display: block;
    padding: 20px;
    justify-items: center;
    text-align: center;
}

.main-section {
    flex: 1;
    max-width: 1900px;
    margin: 20px auto 20px auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sectionpic img {
    max-height: 600px;
    width: auto;
}

.intro {
    vertical-align: top;
    flex: 1;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
}

.login-btn {
    display: inline-block;
    text-decoration: none;
    border: none;
    margin-left: 90px;
    padding: 15px 40px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #ed4848;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #c63737;
}

.footer {
    justify-content: end;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    display: block;
}

section div p{
    line-height: 23px;
    margin-bottom: 50px;
    width: 1020px
}

li{
    font-size: 22px;
    line-height: 60px;
}

#features{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #EAEAEA;
    width: 420px;
    object-fit: cover;
}

ul{
    margin-left: 20px;
}